body {
  height: 100vh;
}

.clock {
margin: auto;
position: absolute;
top: 50%;
left: 48%;
}
#time{
text-align: center;
font-size: 30px;
color: white;
}
.bar{
  border: 1px solid gray;
  color: white;
  margin-top: 10px;
  width: 5%;
  height: 3%;
}
